$maxWidth: 1920;

$primary500: #2196F3;
$primaryContent: #4A4A4A;
$secondaryContent: #A0B0B9;

$whiteBg: #FFFFFF;
$whiteColor: #FFFFFF;

$footer-border: rgba(229, 229, 229, 1);
$footer-bg: #119AD0;


#root {
  font: inherit;
  min-height: 100%;
  margin: 0 auto;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  height: 100%;
  background-color: #F3F7FA;
}

