@import 'src/styles/common';

.root {
  display: flex;
  align-items: center;
  flex-grow: 0;
  justify-content: center;
  height: 160px;
  margin: 0;
  padding: 15px;
  background: transparent;
}

.btn {
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    transition: 0.2s ease-out;
    transform: scale(1.2);
    box-shadow: 0 8px 11px rgba(55, 104, 142, 0.25);
  }

  &_img {
    position: absolute;
    top: -10px;
    right: -12px;

    &:hover {
      transition: 0.2s ease-out;
      transform: scale(1.2) rotate(360deg);
    }
  }
}
