@import 'src/styles/common';

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  color: #ffffff;
  background: transparent;

  .link {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
}